
.panel-p{
	display: block;
	width: 80vw;
	font-size: 1.5em;
	text-align: justify;
	margin: 0vh auto 15vh auto;
	line-height: 1.5em;
}
	.graficos{
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		margin-bottom: 10vh;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 90vw;
		background-color: white;
	}
		.titulo-txt{
			display: flex;
			width: 99vw;
			text-align: center;
			justify-content: center;
		}



.dashboard {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 80vw;
  min-height: 50vh;
  margin: auto;
}

/* Colunas laterais */
.esquerda,
.direita {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.esquerda {
  align-items: flex-end;
  text-align: right;
}

.direita {
  align-items: flex-start;
  text-align: left;
}

/* Card central */
.montante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cards laterais */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: min(12rem, 90%);
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

/* Card central (montante) */
.card-montante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(22rem, 25vw, 38rem);
  min-height: clamp(12rem, 15vw, 25rem);
  padding: 3rem;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

/* Tipografia */
.card-p {
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
  margin-bottom: 0.3rem;
  width: 100%;
}

.card-span {
  font-size: clamp(1.4rem, 2.5vw, 2.3rem);
  text-align: center;
  font-weight: 600;
  width: 100%;
}
.card-span-2 {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

/* Bandeiras (se usar) */
.card-bandeira {
  width: 28px;
  height: 20x;
}

/* Responsivo: empilha em telas menores */
@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .esquerda,
  .direita {
    align-items: center;
    text-align: center;
  }
}
iframe{
  margin-bottom: 10vh;
}



